.team{
    margin: 0em 0;
    /*position: relative;*/
}
/*.team h1{*/
/*    color:#F97300;*/
/*    margin: 2em;*/
/*}*/

/*.team .item{*/
/*    position: relative;*/
/*}*/

.team .des{
    background: #c5e8ef;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;

}

.team .item:hover .des{
    height: 10%;
    background: #c5e8ef;
    position: static;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}

.page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
    transition: 30000ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 30000ms ease-in;
}
.logo {
    border-radius: 50%;
}
